body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
label {
  display: block;
}
input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f0f0f0;
  padding: 10px;
  outline: none;
  width: 160px;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

input:focus {
  border: 1px solid #777;
}

.bg {
  background-color: #f0f0f0;
  text-align: right;
  margin-bottom: 25px;
  }
.bu {
  background-color: #f0f0f0;
  text-align: center;
  margin-bottom: 25px;
  border-style: double;
  border-color: green;
  border-width: 5px;
  color: blue;
  font-weight: bold;
  display: none;
  }
.nav {
  background-color: #f0f0f0;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.nav li {

display: inline-block;
  font-size: 20px;
  padding: 5px;
  }

.nav button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.nav button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.nav button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}


.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
